<div class="container-md mx-5 p-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 mx-auto">
      <div class="email-container border bg-light p-3">
        <div class="row justify-content-between p-3">
          <h4>Create Email</h4>
          <button class="btn btn-dark" (click)="toggleDevMode()">dev</button>
        </div>

        <hr />
        <form [formGroup]="emailForm">
          <div class="form-group row">
            <label for="to" class="col-sm-2 col-form-label">from:</label>
            <div class="col-sm-10">
              <input
                type="text"
                id="from"
                placeholder="employee@email.com"
                formControlName="from"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="to" class="col-sm-2 col-form-label">to:</label>
            <div class="col-sm-10">
              <input
                type="text"
                id="to"
                placeholder="employee@email.com"
                formControlName="to"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group row pl-3 pt-1">
            <div class="custom-control custom-switch col-sm-12">
              <input
                type="checkbox"
                class="custom-control-input"
                id="copies-switch"
                [value]="copies"
                (input)="copies = !copies"
              />
              <label class="custom-control-label" for="copies-switch"
                >Copies</label
              >
            </div>

            <ng-container *ngIf="copies">
              <label for="cc" class="col-sm-2 col-form-label">cc:</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  id="cc"
                  placeholder="manager@email.com"
                  formControlName="cc"
                  class="form-control"
                />
              </div>

              <!-- TODO: why are these elements not responsive to bootstrap or inline spacer modifications? -->
              <hr class="mt-2" style="height: 10px" />

              <label for="bcc" class="col-sm-2 col-form-label">bcc:</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  id="bcc"
                  placeholder="boss@email.com"
                  formControlName="bcc"
                  class="form-control"
                />
              </div>
            </ng-container>
          </div>

          <div class="form-group row">
            <label for="subject" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
              <input
                type="text"
                id="subject"
                placeholder="Subject"
                formControlName="subject"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="body" class="col-sm-2 col-form-label">Body</label>
            <div class="col-sm-10">
              <textarea
                type="text"
                rows="10"
                id="body"
                placeholder="Write your message here..."
                formControlName="body"
                class="form-control"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="attachments" class="col-sm-2 col-form-label"
              >Attachments</label
            >
            <div class="col-sm-10">
              <input
                type="file"
                multiple
                id="attachments"
                formControlName="attachments"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="attachments" class="col-sm-2 col-form-label"
              >SMTP Server</label
            >
            <div class="col-sm-10">
              <select formControlName="smtpServer" class="custom-select">
                <option
                  *ngFor="let config of smtpServerConfigs"
                  [ngValue]="config.name"
                >
                  {{ formatConfigSelectOption(config) }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn" (click)="onSubmitEmail()">Send Email</button>
          </div>
        </form>
      </div>

      <button class="btn btn-secondary" (click)="toggleConfig = !toggleConfig">
        Add new SMTP Configuration
      </button>
      <ng-container *ngIf="toggleConfig">
        <app-smtp-config [authUI]="authUI" [dkimUI]="dkimUI"></app-smtp-config>
      </ng-container>
    </div>

    <div *ngIf="dev" class="col-sm-6 mx-auto text-center">
      <app-inspector
        [copies]="copies"
        [authUI]="authUI"
        [dkimUI]="dkimUI"
        [emailForm]="emailForm"
      ></app-inspector>
    </div>
  </div>
</div>
